#container {
	
	height: 100%;
	margin: 0 auto;
	position:fixed;
   background:url(https://i.imgur.com/OPL8z6w.jpg);
  -webkit-animation:50s scroll infinite linear;
  -moz-animation:50s scroll infinite linear;
  -o-animation:50s scroll infinite linear;
  -ms-animation:50s scroll infinite linear;
  animation:50s scroll infinite linear;
  top:0;
  left:0;
  width:100%;
 height:100%;
<<<<<<< HEAD
background-size: cover;
=======
 /*background-repeat: no-repeat;*/
 background-size: cover;
>>>>>>> 1f785e40c7e64ef22160f4c98890c6c243347170
}

@-webkit-keyframes scroll{
  100%{
    background-position:-3000px 0px;
  }
}

@-moz-keyframes scroll{
  100%{
    background-position:-3000px 0px;
  }
}

@-o-keyframes scroll{
  100%{
    background-position:-3000px 0px;
  }
}

@-ms-keyframes scroll{
  100%{
    background-position:-3000px 0px;
  }
}

@keyframes scroll{
  100%{
    background-position:-3000px 0px;
  }
}

body{
	background-color: black;

}

.gradius {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0 auto;
	/*background-size: 100%;*/
	animation: slideshow 10s linear infinite;
}

@keyframes slideshow {
  0%    { left: 0; }
  100%  { left: -200%; }
}										makes slide show

@keyframes moveSlideshow {  
  100% { 
    -webkit-transform: translateX(-200%);  
  }
}

/*body {
	background-color: black;
	margin: 0 auto;
	background-size: 80%;
}*/

#player1 { 
	position: absolute;
	overflow: hidden;
	top: 30%;
	left: 15%;
}

#player2 { 
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 15%;
}
/*.gameboard {
	border: 1px solid black;
	height: 98%;
	width: 99%;
	opacity: .1;
	margin: 0 auto;
	position: absolute;
	top: 0;
	left: 0;
}*/

.obstacle {
	border: 1px solid black;
	width: 40px;
	height: 200px;
	background-color: black;
	position: absolute;
	top: 0;
	left: 0;
}

button {
	position: absolute;
	width: 100px;
	height: 30px;
	top: 30%;
	left: 45%;
}

#instructions {
	position: absolute;
	top: 50%;
	left: 37%;
	color: red;
	font-size: 20px;
}

.blue {
	position: absolute;
	top: 60%;
	left: 37%;
	color: blue;
	font-size: 20px;
}